{% extends 'base.html' %}
{% block content %}
{% include 'flash.html' %}
<h1>User Creation</h1>
<div class="well">
	<form class="form-horizontal" action="" method="post" name="user">
		{{form.hidden_tag()}}
		<div class="control-group{% if form.errors.post %} error{% endif %}">
			<label class="control-label" for="userName">New User Name</label>
			<div class="controls">
				{{ form.userName(class = "span4") }}
				{% for error in form.errors.userName %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Create user">
			</div>
		</div>
	</form>
</div>
{% endblock %}