{% extends "base.html" %}
{% block content %}
<h1>{{ 'FACET Shift Reports' + (' for ' + user.name if user else '') + (" from {0} to {1}".format(start_date, end_date) if (start_date and end_date) else '') }}</h1>
{% if admin %}
<h1>Admin Mode</h1>
{% endif %}
{% include 'flash.html' %}
<form class="form-inline" action="{{request.script_root + request.path}}" method="get">
  <input name="start_date" class="form-control" style="width: 13.6em;" placeholder="Start Date (YYYY-MM-DD)" value="{{start_date or ''}}"> to <input name="end_date" class="form-control" style="width: 13.6em;" placeholder="End Date (YYYY-MM-DD)" value="{{end_date or ''}}">
  {% if user %}
    <input type="hidden" name="userGroup" value="{{user.name}}">
  {% endif %}
  <input type="submit" class="btn btn-default" value="Filter by date">
	<a class="btn btn-default" style="float: right" href="{{ url_for('csv_index', start_date=start_date, end_date=end_date, username=(user.name if user else None)) }}"><span class="glyphicon glyphicon-save"></span> Save time data as CSV</a>
</form>
<table class="table table-striped">
	<tr>
		<th class="col-sm-2">Date</th>
		<th class="col-sm-1">Experiment</th>
    <th class="col-sm-2">Experiment Title</th>
		<th class="col-sm-3">Brief Summary</th>
		<th class="col-sm-1">Submitted</th>
		<th class="col-sm-1">Edit</th>
		{% if admin %}
		<th class="col-sm-1"></th>
		<th class="col-sm-1"></th>
		{% endif %}
	</tr>
	{% for r in reports %}
		<tr class="{{'hidden-report' if r.hidden else 'report'}}">
			<td class="col-sm-2"><a href="{{ url_for('admin_view_report' if admin else 'view_report', reportid=r.id) }}">{{r.shiftEnd}}</a></td>
			<td class="col-sm-1"><a href="{{ url_for('admin_index' if admin else 'index', userid=r.author.id) }}">{{r.author.name}}</a></td>
      <td class="col-sm-2">{{r.author.experiment_title}}</td>
			<td class="col-sm-3">{{r.briefSummary}}</td>
			<td class="col-sm-1">
				{{ "Yes" if r.submitted else "No" }}
			</td>
			<td class="col-sm-1">
				{% if not r.submitted or admin %}
				<a href="{{ url_for('shift_summary_form', reportid=r.id) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				{% endif %}
			</td>
			{% if admin %}
				<td class="col-sm-1" style="opacity: 1.0;"><a href="{{ url_for('admin_toggle_report_hidden', reportid=r.id, next=(user.id if user else 'index')) }}" class="btn btn-warning">{{ 'Show' if r.hidden else 'Hide' }}</a></td>
				<td class="col-sm-1" style="opacity: 1.0;"><a href="{{ url_for('admin_delete_report', reportid=r.id, next=(user.id if user else 'index')) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a></td>
			{% endif %}
		</tr>
	{% endfor %}
</table>
{% endblock %}