{% extends "base.html" %}
{% block content %}
<h1>{{ 'FACET Shift Report Summaries' + (" from {0} to {1}".format(start_date, end_date) if (start_date and end_date) else '') }}</h1>
{% include 'flash.html' %}
<form class="form-inline" action="{{request.script_root + request.path}}" method="get">
  <input name="start_date" class="form-control" style="width: 13.6em;" placeholder="Start Date (YYYY-MM-DD)" value="{{start_date or ''}}"> to <input name="end_date" class="form-control" style="width: 13.6em;" placeholder="End Date (YYYY-MM-DD)" value="{{end_date or ''}}">
  <input type="submit" class="btn btn-default" value="Filter by date">
	<a class="btn btn-default" style="float: right;" href="{{ url_for('summaries', start_date=start_date, end_date=end_date) }}">View as rendered HTML</a>
</form>
<div>
	Click in the text box, use Ctrl+A to select all text in the box, then copy and paste it into Sharepoint.
</div>
<textarea id="summaries">
{% for report in reports %}
	{% include 'report_summary_table.html' %}
{% endfor %}
</textarea>
{% endblock %}