{% extends "base.html" %}
{% block content %}
<h1>User Shift Report</h1>
{% include 'flash.html' %}
<div class="well">
	<form class="form-horizontal" action="" method="post" name="report" role="form">
		{{form.hidden_tag()}}
		<div class="form-group{% if form.errors.user %} has-error{% endif %}">
			<label class="col-sm-2 control-label" for="user">{{form.user.label}}</label>
			<div class="col-sm-2">
				{{ form.user(class = "form-control") }}
				{% for error in form.errors.user %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.personnel %} has-error{% endif %}">
			<label class="col-sm-2 control-label" for="personnel">{{form.personnel.label}}</label>
			<div class="col-sm-4">
				{{ form.personnel(class = "form-control", rows="3") }}
				{% for error in form.errors.personnel %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.postTime %} has-error{% endif %}">
			<label class="col-sm-2 control-label" for="postTime">{{form.postTime.label}}</label>
			<div class="col-sm-4">
				{{ form.postTime(class = "form-control", placeholder = "YYYY-MM-DD HH:MM:SS") }}
				{% for error in form.errors.postTime %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.shiftStart %} has-error{% endif %}">
			<label class="col-sm-2 control-label" for="shiftStart">{{form.shiftStart.label}}</label>
			<div class="col-sm-4">
				{{ form.shiftStart(class = "form-control", placeholder = "YYYY-MM-DD HH:MM:SS") }}
				{% for error in form.errors.shiftStart %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.shiftEnd %} has-error{% endif %}">
			<label class="col-sm-2 control-label" for="shiftEnd">{{form.shiftEnd.label}}</label>
			<div class="col-sm-4">
				{{ form.shiftEnd(class = "form-control", placeholder = "YYYY-MM-DD HH:MM:SS") }}
				{% for error in form.errors.shiftEnd %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.goals %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.goals.label }}</div>
        <div class="help-block">What you expected to accomplish on this shift.</div>
      </div>
			<div class="col-sm-6">
				{{ form.goals(class = "form-control", rows="10") }}
				{% for error in form.errors.goals %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.progress %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.progress.label }}</div>
        <div class="help-block">What was successful on this shift?</div>
      </div>
			<div class="col-sm-6">
				{{ form.progress(class = "form-control", rows="10") }}
				{% for error in form.errors.progress %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.problems %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.problems.label }}</div>
        <div class="help-block">What went wrong?</div>
      </div>
			<div class="col-sm-6">
				{{ form.problems(class = "form-control", rows="10") }}
				{% for error in form.errors.problems %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.nextShift %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.nextShift.label }}</div>
        <div class="help-block">Your plan for the next time you'll have beam.</div>
      </div>
			<div class="col-sm-6">
				{{ form.nextShift(class = "form-control", rows="10") }}
				{% for error in form.errors.nextShift %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.briefSummary %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.briefSummary.label }}</div>
        <div class="help-block">Two or three sentences that are <b>copied into a report sent to the Department of Energy</b>. <a href="https://portal.slac.stanford.edu/sites/ard_public/facet/faq/Lists/FACET%20ELOG/FAQ.aspx">See examples on the FACET FAQ.</a></div>
      </div>
			<div class="col-sm-6">
				{{ form.briefSummary(class = "form-control", rows="10") }}
				{% for error in form.errors.briefSummary %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.other %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.other.label }}</div>
        <div class="help-block">Any other information you might want to add that doesn't fit another field.</div>
      </div>
			<div class="col-sm-6">
				{{ form.other(class = "form-control", rows="10") }}
				{% for error in form.errors.other %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.usesPositrons %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.usesPositrons.label }}</div>
        <div class="help-block">Matter or Antimatter?</div>
      </div>
			<div class="col-sm-2">
				{{ form.usesPositrons(class = "form-control") }}
				{% for error in form.errors.usesPositrons %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.numParticles %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.numParticles.label }}</div>
        <div class="help-block">Bunch charge in LI20, in number of particles.</div>
      </div>
			<div class="col-sm-2">
				{{ form.numParticles(class = "form-control") }} x10<sup>10</sup> particles
				{% for error in form.errors.numParticles %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.x_rms_li20 %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.x_rms_li20.label }}</div>
        <div class="help-block">Horizontal beam size, as measured at WSIP2.</div>
      </div>
			<div class="col-sm-2">
				{{ form.x_rms_li20(class = "form-control") }} &mu;m
				{% for error in form.errors.x_rms_li20 %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.y_rms_li20 %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.y_rms_li20.label }}</div>
        <div class="help-block">Vertical beam size, as measured at WSIP2.</div>
      </div>
			<div class="col-sm-2">
				{{ form.y_rms_li20(class = "form-control") }} &mu;m
				{% for error in form.errors.y_rms_li20 %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.bunch_length %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.bunch_length.label }}</div>
        <div class="help-block">Bunch length, as measured by the XTCAV.</div>
      </div>
			<div class="col-sm-2">
				{{ form.bunch_length(class = "form-control") }} &mu;m
				{% for error in form.errors.bunch_length %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		
		<div class="form-group{% if form.errors.usefulBeam %} has-error{% endif %}">
      <div class="col-sm-2 control-label">
			  <div>{{ form.requested_time.label }}</div>
        <div class="help-block"></div>
      </div>
			<div class="col-sm-2">
				{{ form.requested_time(class = "form-control", placeholder = "e.g. 8") }} hours
				{% for error in form.errors.requested_time %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.usefulBeam %} has-error{% endif %}">
			<label class="col-sm-2 control-label" for="usefulBeam">{{form.usefulBeam.label}}</label>
			<div class="col-sm-2">
				{{ form.usefulBeam(class = "form-control", placeholder = "e.g. 8") }} hours
				{% for error in form.errors.usefulBeam %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.unschedAccDown %} has-error{% endif %}">
			<label class="col-sm-2 control-label" for="unschedAccDown">{{form.unschedAccDown.label}}</label>
			<div class="col-sm-2">
				{{ form.unschedAccDown(class = "form-control", placeholder = "e.g. 8") }} hours
				{% for error in form.errors.unschedAccDown %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.unschedUserDown %} has-error{% endif %}">
			<label class="col-sm-2 control-label" for="unschedUserDown">{{form.unschedUserDown.label}}</label>
			<div class="col-sm-2">
				{{ form.unschedUserDown(class = "form-control", placeholder = "e.g. 8") }} hours
				{% for error in form.errors.unschedUserDown %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group{% if form.errors.physAvail %} has-error{% endif %}">
			<label class="col-sm-2 control-label" for="physAvail">{{form.physAvail.label}}</label>
			<div class="col-sm-2">
				{{ form.physAvail(class = "form-control", placeholder = "e.g. 8") }} hours
				{% for error in form.errors.physAvail %}
					<span class="help-inline" style="color: red;">{{error}}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 col-sm-offset-2">
				<input class="btn btn-primary" type="submit" value="Submit">
			</div>
		</div>
	</form>
</div>
{% endblock %}

<!-- openid, textbox -->