{% extends "base.html" %}
{% block content %}
<h1>User Shift Report Form</h1>
<form action="" method="post" name="report">
	{{form.hidden_tag()}}
	<p>
		Please enter your OpenId:<br>
		{{form.openid(size=80)}}
		{% for error in form.errors.openid %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}<br>
	</p>
	<p>
		{{form.goals.label}}<br>
		{{form.goals(cols=60, rows=15)}}
		{% for error in form.errors.textboxes %}
		<span style="color: red;">[{{error}}]</span>
		{% endfor %}<br>
	</p>
	<p><input type="submit" value="Submit"></p>
</form>
{% endblock %}

<!-- openid, textbox -->