{% extends 'base.html' %}
{% block content %}
{% include 'flash.html' %}
<h1>Shift Report for {{ report.shiftStart|datetimeformat('%Y-%m-%d %H:%M') }} to {{ report.shiftEnd|datetimeformat('%Y-%m-%d %H:%M') }}</h1>
{% if admin %}
<h1>Admin Mode</h1>
<div class="row" style="padding-bottom: 0.5em;">
	<div class="col-sm-12">
		<a href="{{ url_for('admin_toggle_report_hidden', reportid=report.id) }}" class="btn btn-warning">{{ 'Show this report' if report.hidden else 'Hide this report' }}</a>
		<a href="{{ url_for('admin_delete_report', reportid=report.id) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete this report</a>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-sm-12">
		<dl class="dl-horizontal">
		  <dt>Experiment</dt>
		  <dd>{{ report.author.name }}</dd>
		  <dt>Shift Personnel</dt>
		  <dd>{{ report.personnel }}</dd>
		  <dt>Shift Start Time</dt>
		  <dd>{{ report.shiftStart }}</dd>
		  <dt>Shift End Time</dt>
		  <dd>{{ report.shiftEnd }}</dd>
		  <dt>Goals</dt>
		  <dd>{{ report.goals|nl2br }}</dd>
		  <dt>Progress</dt>
		  <dd>{{ report.progress|nl2br }}</dd>
		  <dt>Problems</dt>
		  <dd>{{ report.problems|nl2br }}</dd>
		  <dt>To Do On Next Shift</dt>
		  <dd>{{ report.nextShift|nl2br }}</dd>
		  <dt>Brief Summary</dt>
		  <dd>{{ report.briefSummary|nl2br }}</dd>
		  <dt>Other Notes</dt>
		  <dd>{{ report.other|nl2br }}</dd>
		  <dt>Requested Beam Time</dt>
		  <dd>{{ report.requested_time }}</dd>
		  <dt>Useful Beam Time</dt>
		  <dd>{{ report.usefulBeam }}</dd>
		  <dt>Unscheduled Accelerator Downtime</dt>
		  <dd>{{ report.unschedAccDown }}</dd>
		  <dt>Unscheduled User Downtime</dt>
		  <dd>{{ report.unschedUserDown }}</dd>
		  <dt>Accelerator Physics Available</dt>
		  <dd>{{ report.physAvail }}</dd>
			{% if report.hidden or admin %}
			  <dt>Hidden</dt>
			  <dd>{{ 'Yes' if report.hidden else 'No' }}</dd>
			{% endif %}
			<dt>Link to Physics Logbook Entry</dt>
			<dd>{{ report.logbook_entry_url }}</dd>
		</dl>
	</div>
</div>
{% endblock %}