{% extends 'base.html' %}
{% block content %}
{% include 'flash.html' %}
<h1>Shift Report for {{ report.shiftStart|datetimeformat('%Y-%m-%d %H:%M') }} to {{ report.shiftEnd|datetimeformat('%Y-%m-%d %H:%M') }}</h1>
{% if admin %}
<h1>Admin Mode</h1>
<div class="row" style="padding-bottom: 0.5em;">
	<div class="col-sm-12">
		<a href="{{ url_for('admin_toggle_report_hidden', reportid=report.id) }}" class="btn btn-warning">{{ 'Show this report' if report.hidden else 'Hide this report' }}</a>
		<a href="{{ url_for('admin_delete_report', reportid=report.id) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete this report</a>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-sm-12">
		<dl class="dl-horizontal">
		  <dt>Experiment</dt>
		  <dd>{{ report.author.name }}</dd>
		  <dt>Shift Personnel</dt>
		  <dd>{{ report.personnel }}</dd>
		  <dt>Shift Start Time</dt>
		  <dd>{{ report.shiftStart }}</dd>
		  <dt>Shift End Time</dt>
		  <dd>{{ report.shiftEnd }}</dd>
		  <dt>Goals</dt>
		  <dd>{{ report.goals|nl2br }}</dd>
		  <dt>Progress</dt>
		  <dd>{{ report.progress|nl2br }}</dd>
		  <dt>Problems</dt>
		  <dd>{{ report.problems|nl2br }}</dd>
		  <dt>To Do On Next Shift</dt>
		  <dd>{{ report.nextShift|nl2br }}</dd>
		  <dt>Brief Summary</dt>
		  <dd>{{ report.briefSummary|nl2br }}</dd>
		  <dt>Other Notes</dt>
		  <dd>{{ report.other|nl2br }}</dd>
		  <dt>Requested Beam Time</dt>
		  <dd>{{ report.requested_time }}</dd>
		  <dt>Useful Beam Time</dt>
		  <dd>{{ report.usefulBeam }}</dd>
		  <dt>Unscheduled Accelerator Downtime</dt>
		  <dd>{{ report.unschedAccDown }}</dd>
		  <dt>Unscheduled User Downtime</dt>
		  <dd>{{ report.unschedUserDown }}</dd>
		  <dt>Accelerator Physics Available</dt>
		  <dd>{{ report.physAvail }}</dd>
			{% if report.hidden or admin %}
			  <dt>Hidden</dt>
			  <dd>{{ 'Yes' if report.hidden else 'No' }}</dd>
			{% endif %}
			<dt>Link to Physics Logbook Entry</dt>
			{% if report.logbook_entry_url %}
			<dd><a href="{{ report.logbook_entry_url }}">View the logbook entry for this report</a></dd>
			{% else %}
			<dd>None</dd>
			{% endif %}
		</dl>
	</div>
</div>

<table width="100%" class="ms-rteTable-default" cellspacing="0" style="font-size:1em"><tbody><tr class="ms-rteTableEvenRow-default"><td class="ms-rteTableEvenCol-default" rowspan="1" colspan="4" style="text-align:left"><div class="ms-rteStyle-Highlight"><strong>Experiment:</strong> {{ report.author.name }}</div>
<div class="ms-rteStyle-Highlight"><strong>Shift Start:</strong> {{ report.shiftStart }}</div></td></tr>
<tr class="ms-rteTableOddRow-default"><td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px;text-align:right"><strong>Time Beam Promised (hours)​:</strong>​</td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px;text-align:right">n/a​​</td>
<td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px;text-align:right"><strong>Charge delivered in S20 (electrons/bunch):</strong>​</td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px;text-align:center">​n/a</td></tr>
<tr class="ms-rteTableEvenRow-default"><td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px;text-align:right"><strong>​Time Beam Delivered (hours):</strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px;text-align:right">{{ report.usefulBeam }}​</td>
<td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px;text-align:right"><strong>Normalized x-emittance in S20 (mm-mrad):</strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px;text-align:center">n/a</td></tr>
<tr class="ms-rteTableOddRow-default" style="text-align:right"><td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px"><strong>Unscheduled accelerator downtime (hours):​</strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px"><strong>​</strong>{{ report.unschedAccDown }}</td>
<td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px"><strong>Normalized y-emittance in S20 (mm-mrad):</strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px;text-align:center">n/a</td></tr>
<tr class="ms-rteTableEvenRow-default" style="text-align:right"><td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px"><strong>​</strong><strong>User off (hours):</strong>​</td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px">​{{ report.unschedUserDown }}​</td>
<td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px"><strong>Bunch length (rms, microns)​:</strong>​</td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px;text-align:center">n/a​​</td></tr>
<tr class="ms-rteTableOddRow-default"><td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px;text-align:right"><strong>Total delivered+downtime+user off (hours):​</strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px;text-align:right"><strong>​</strong>{{ report.unschedUserDown + report.usefulBeam + report.unschedAccDown }} </td>
<td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px"><strong>​</strong></td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px"><strong>​</strong></td></tr>
<tr class="ms-rteTableEvenRow-default"><td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px;text-align:right"><strong>% time accelerator support physicist available:</strong>​​</td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px;text-align:right">0​​</td>
<td class="ms-rteTableEvenCol-default" rowspan="1" colspan="1" style="width:360px">​</td>
<td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width:35px">​</td></tr>
<tr class="ms-rteTableOddRow-default"><td class="ms-rteTableEvenCol-default" rowspan="1" colspan="4" style="height:96px;text-align:left">​ <strong>Brief Summary:</strong><ul>
{{ report.briefSummary|nl2br }}</ul></td></tr></tbody></table>

{% endblock %}